    body {
    background-color: rgb(21, 37, 74);
    width: 970px
    }
    
    div {
    border-radius: 10px;
    margin: 5px;
    }
    
    a:link {
    color:turquoise;
    }
    
    .header {
    background-color: rgb(193, 26, 42);
    color: rgb(182, 204, 230);
    padding: 1px 18px;
    }
    
    .left_menu {
    width: 210px;
    background-color: rgb(34,106,121);
    color: white;
    display: inline-block;
    vertical-align: top;
    padding: 5px;
    padding-left: 0px !important;
    }
    
    .main_content {
    width: 704px;
    background-color: rgb(13, 19, 26);
    color: rgb(182, 204, 230);
    display: inline-block;
    vertical-align: top;
    padding: 8px;
    }
    
    .footer {
    background-color: rgb(75, 83, 96);
    color: rgb(182, 204, 230);
    padding: 5px;
    }
    
    .inner_list {
        list-style-type: none;
    }

    span{
        color: #6666ff
    }